#content{
    
    @include md{
        display: grid;
        grid-template-columns: auto 80vw auto;
        grid-template-areas: ". content .";
    }
    >div{
        position: relative;
        height: 100vh;
        border: 1px solid red;
        @include md{
            grid-area: content;
        }

    }
}